@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

button{
    height: 30px;
    width: 100px;
    padding: 5px;
    border: 2px solid rgb(5, 8, 199);
    margin: 10px;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
html, body {
    min-width: 400px;
}
body, input, button {
    font-size: 14px;
    font-family: Roboto,sans-serif;
    color: #202124;
}
body {
    background: #fff;
    display: flex;
    flex-direction: column;
}
.top-section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.left-side
.right-side
.middle-side {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.hamlo {
    width: 7rem;
    height: 7rem;
}
.profile-pic {
    width: 3rem;
    height: 3rem;
    border-radius: 1000%;
}
.app-icon{
    width: 10rem;
    height: 10rem;
}
.cursor{
    width: 3rem;
    height: 3rem;
}
a {
    text-decoration: none;
    color: black;
}
.middle-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 2rem;
}

